<link rel="import" href="../polymer/polymer.html">


<polymer-element name="polyslides-default">
  <template>
    <link rel="stylesheet" href="polyslides.css" type="text/css">

    <div class="slide" layout vertical>
      <div class="slide-default-title">
          <content select="h1"></content>
      </div>
      <div class="slide-text" layout vertical left>
        <content>
        </content>
      </div>
    </div>
    
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>

